/* CSS Reset -Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  padding: 3rem;

  background-color: #C18C5D;
}

.content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 32px;
  
  height: 90vh;
  color: white;
  background-color: #3C3744;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 8px;

  width: 500px;
  height: 500px;
  background-color: #3C3744;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  font-size: 4rem;

  width: 100%;
  height: 100%;
  background-color: #E7AD99;
}

.reset {
  border-radius: 4px;
  border: none;

  font-size: 1.5rem;

  color: white;
  background-color: #E7AD99;
}

.X {
  color: #CE796B;
}

.O {
  color: #495867;
}